/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 19, 2014, 2:37:35 PM
    Author     : GMaharjan
*/
.wrapper {
    margin: 0 auto;
    background: #F8F8F8;
}

.main {
    margin: 0 auto;
    width: 96%;
    padding-bottom: 3px;
    padding-top: 3px;
    background: #ffffff;
}

.menu {
    /* //  float: left; */

}

.content {
    /*  //  float: right; */

}

.menu-content {
    width: 100%;
    height: auto;
    background: #ccccff;
}

.player {
    width: 800px;
    height: 524px;
    background: #D5AEE9;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.content-box {
    min-height: 670px;
    max-width: 450px;
}
.container .row .col-md-5{
    cursor: pointer;
    cursor: hand;
}

.video-block{
    width:470px;
/*    height:245px;*/
    padding:5px;
    margin-left: 5px;
    margin-top: 5px;
    overflow: hidden;
    float:left;
}

